#table_wrapper table {
    width: 100% !important;
}

.img-form {
    width: 25% !important;
}

.select2-container {
    width: 100% !important;
}

label.file-upload {
    position: relative;
    overflow: hidden
}

label.file-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: 0;
    background: #fff;
    cursor: inherit;
    display: block
}

.avatar-upload label {
    width: auto !important;
}

ul.detail {
    list-style-type: none !important;
}

.skin-blue .main-header .navbar {
    background-color: #800000;
}

.skin-blue .main-header .logo {
    background-color: #800000;
}

.skin-blue .main-header li.user-header {
    background-color: #800000;
}

.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #800000;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #922B21;
}

.skin-blue .main-header .logo:hover {
    background-color: #922B21;
}

.box.box-primary {
    border-top-color: #922B21;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #800000 !important;
}

@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background-color: #922B21;
    }
}

.login-page,
.register-page {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-logo {
    width: 50%;
}